<div class="small-12 columns" id="petition_heading">
  <h1><%= @state.name %> Petitions</h1>

  <div class="small-4 columns" id="new_petition">
    <% if current_user %>
      <%= render 'petitions/new' %>
    <% end %>
  </div>

  <div class="small-8 columns" id="all_petitions">
    <% if @petitions %>
      <% @petitions.each do |petition| %>
        <h2><%= link_to petition.name, state_petition_path(id: petition) %></h2>
        <%= petition.description  %>
        <%= petition.owner_id %>
      <% end %>
    <% else %>
      "No petitions yet!"
    <% end %>
  </div>
</div>
