<div class="small-12 columns">
  <h1><%= @state.name %> Petitions</h1>

  <div class="small-12 columns">
    <% if current_user %>
      <%= render 'petitions/new' %>
    <% end %>
  </div>

  <div class="small-12 small-offset-1 columns">
    <% if @petitions %>
      <% @petitions.each do |petition| %>
        <%= link_to petition.name, state_petition_path(id: petition) %>
        <%= petition.description  %>
        <%= petition.owner_id %>
      <% end %>
    <% else %>
      "No petitions yet!"
    <% end %>
  </div>
</div>
