<div class="small-12 columns" id="petition_heading">

  <h1>All Petitions</h1>

  <div class="small-8 small-centered columns">
    <div class="row collapse">
      <%= form_tag petitions_path, method: :get do  %>
        <div class="small-9 columns">
          <%= text_field_tag :search %>
        </div>
        <div class="small-3 columns">
          <%= submit_tag "Search Petitions", class: "small button radius" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="small-8 small-centered columns" id="all_petitions">
    <% @petitions.each do |petition| %>
      <h2>
        <%= link_to petition.name,
        state_petition_path(id: petition, state_id: petition.state) %>
      </h2>
      <%= petition.description  %>
      <%= petition.owner_id %>
    <% end %>
  </div>
</div>
