<div class="small-12 columns">
  <div class="inline-list" id="petition_page">
    <li><%= link_to "#{@petition.state.name} Home", state_path(id: params[:state_id]) %></li>
    <li><%= link_to "All Petitions", petitions_path %></li>
  </div>

  <h1><%= @petition.name %></h1>
  <%= image_tag @petition.image.url, size: "100x100" %>
  <%= @petition.description  %>

  <% if !current_user.nil? && !@petition.users.include?(current_user) %>
    <div class="button">
      <%= link_to 'Sign Petition', petition_memberships_path(petition_id: params[:id],
            user: current_user.id, state: @petition.state), method: :post %>
    </div>
  <% end %>

  <h4>Signees</h4>
  <div class="small-12 columns">
    <% if @petition.users.include?(current_user) %>
      <% @petition.users.each do |name| %>
        <%= name.first_name %>
        <%= name.last_name %>
      <% end %>
    <% end %>
  </div>
</div>
