<div class="small-12 columns" id="profile">
  <div class="inline-list">
    <li><%= @user.email %></li>
    <li><%= image_tag @user.image.url, size: "60x60" %></li>
  </div>

  <% @owned_petitions.each do |petition| %>
    <div class="inline-list">
      <li><%= petition.name %></li>
      <div class="button">
        <%= link_to "Edit Petition", edit_state_petition_path(id: petition, state_id: petition.id) %>
      </div>
      <div class="button">
        <%= link_to "Delete Petition", state_petition_path(id: petition, state_id: petition.id), method: :delete %>
      </div>
    </div>
    <% end %>
</div>
