<div id="state_chart"></div>

<div id="petitions">
  <div class="row">
    <div class="large-12 columns" id="popular_petitions">
      <div class="row">
        <h1>Most Popular Petitions in <%= @state.name %></h1>
        <% @petitions.top_petitions.each do |petition| %>
          <div class="large-3 small-6 columns" id="petition_carousel">
            <div class="panel">
              <%= image_tag petition.image.url, size: '150x150' %>
              <h4><%= link_to petition.name,
              state_petition_path(id: petition, state_id: petition.state) %></h4>
              <hr>
              <p>Created by:</p>
              <p><%= petition.owner?(petition.owner_id) %></p>
              <p>Signatures: <%= petition.signature_count %></p>
              <% if current_user && !petition.users.include?(current_user) %>
                <div class="button small radius">
                  <%= link_to 'Sign Petition', petition_memberships_path(petition_id: petition.id,
                        user: current_user.id, id: petition.state), method: :post %>
                </div>
              <% elsif petition.users.include?(current_user) %>
                <div class="button small radius">
                   You've signed!
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% if current_user %>
  <hr>
  <div id="form">
    <div id="new_petition"><i class="fi-clipboard-pencil"></i></div>

    <div class="small-12 columns" id="petition_form">
      <%= render 'petitions/new' %>
    </div>
  </div>
  <hr>
<% end %>

  <div class="small-10 small-centered columns" id="all_petitions">
    <% @petitions.each do |petition| %>
    <div class="panel" id="petitions">
        <%= image_tag petition.image.url, size: '150x150' %>
        <h4><%= link_to petition.name,
          state_petition_path(id: petition, state_id: petition.state) %></h4>
        <p><%= petition.description %></p>
        <hr>
        <p>Created by: <%= petition.owner?(petition.owner_id) %></p>
        <p>Signatures: <%= petition.signature_count %></p>
        <%  if current_user %>
          <div class="button small radius">
              <%= link_to 'Sign Petition', petition_memberships_path(petition_id: petition.id,
                  user: current_user.id, id: petition.state), method: :post %>
          </div>
        <% end %>
    </div>
    <% end %>
    <div id="paginator">
      <%= paginate @petitions, remote: true %>
    </div>
  </div>
</div>
</div>
<hr class="page_break">
<div class="small-12 columns" id="state_info">
<div class="small-6 columns" id="_vit"></div>
  <div class="small-6 columns" id="rep_info">
    <ul id="civic_info">
      <h2><%= @state.name %> Representatives</h2>
      <hr>
      <% @state_info["officials"].each do |information| %>
        <li><%= information["name"] %></li>
        <li><%= information["address"][0]["line1"] || "" %></li>
        <li><%= information["address"][0]["line2"] || "" %></li>
        <li><%= information["address"][0]["city"] || "" %></li>
        <li><%= information["address"][0]["state"] || "" %></li>
        <li><%= information["address"][0]["zip"] || "" %></li>
        <li><%= information["party"] || "" %></li>
        <li><%= information["phones"].join || "" %></li>
        <hr>
      <% end %>
    </ul>
  </div>
</div>

<% content_for :extra_footer do %>
<script type="text/javascript" src="https://voter-info-tool.appspot.com/js/loader.js"></script>
  <script>
    $(function() {

      scroll();
      buildVisualization();
    });
    // vit.load({'region': '<%= @state.name %>'});
  </script>
<% end %>
