<div class="small-12 columns" id="state_header">
    <h1><%= @state.name %></h1>
    <p><a href="#petitions_div"><%= @state.name %> Petitions</a></p>
    <p><a href="#_vit"><%= @state.name %> Voter Information</a></p>
</div>

<div class="small-12 columns" id="state_chart">so chart.</div>

<div class="small-12 columns" id="petitions_div">
  <div class="small-4 columns" id="new_petition">
    <%= render 'petitions/new' %>
  </div>

  <div class="small-6 small-offset-1 columns" id="all_petitions">
    <% @petitions.top_five.each do |petition| %>
        <%= image_tag petition.image.url, size: '100x100' %>
        <p><%= link_to petition.name,
          state_petition_path(id: petition, state_id: petition.state) %></p>
        <p><%= petition.owner?(petition.owner_id) %></p>
        <p><%= petition.description %></p>
        <p><%= petition.signature_count %></p>
    <% end %>
  </div>
</div>


<div class="small-12 columns" id="state_info">
<div class="small-7 columns"id="_vit" class="voter_tool"></div>
  <div class="small-5 columns" id="rep_info">
    <p>
      <% @state_info.each do |thing| %>
        <%= thing[1][0] %>
        <%= thing[1][1] %>
      <% end %>
    </p>
  </div>
</div>


<% content_for :extra_footer do %>
  <script type="text/javascript" src="https://voter-info-tool.appspot.com/js/loader.js"></script>
  <script>
    $(function(){
      scroll();
      // buildVisualization();
    });
    vit.load({'region': '<%= @state.name %>', 'official_only': true});
  </script>
<% end %>
