<!DOCTYPE html>
<html>
<head>
  <title>Citizen</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" class="fixed">
    <section class="top-bar-section">
      <h4 id="logo"><a href="/">Citizen</a></h4>

      <ul class="right">
        <%- if current_user.try(:admin?) %>
         <li><%= link_to 'Admin Home', admin_petitions_path %></li>
       <%- end %>
        <%- if current_user -%>
          <li><%= image_tag current_user.image.url, size: "30x30" %></li>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>


    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to 'Voter Registration' %></li>
        <li><%= link_to 'Petitions', petitions_path %></li>
      </ul>
    </section>
  </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>
</body>
</html>
