<!DOCTYPE html>
<html>
<head>
  <title>Citizen</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" class="fixed">
    <section class="top-bar-section">
      <% if params[:id] %>
        <h4 id="logo"><a href="/states/<%= params[:id] %>"><%= params[:id] %></a></h4>
      <% else %>
        <h4 id="logo"><a href="/">Citizen</a></h4>
      <% end %>

      <ul class="right">
        <%- if current_user.try(:admin?) %>
         <li><%= link_to 'Admin Home', admin_petitions_path %></li>
       <%- end %>
       <% if params[:id] %>
          <li><a href="#rep_info"><%= params[:id] %> Voter Information</a></li>
        <% end %>
        <%- if current_user -%>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>

    <section class="top-bar-section">
      <ul class="left">
        <% if params[:id] %>
          <li id="side_logo"><h3><a href="/">C</a></h3></li>
          <li><%= link_to 'National Petitions', petitions_path %></li>
          <li><a href="#petitions_div"><%= params[:id] %> Petitions</a></li>
        <% else %>
          <li><%= link_to 'National Petitions', petitions_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>

</body>
</html>
